*{
    background-color: rgba(16, 25, 32, 1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-regular';
  src: url(./Fonts/Poppins-Regular.ttf);
}


:root{
    --primarytext-color: rgba(163, 211, 231, 1);
    --subtext-color: rgba(143, 184, 195, 1);
    --background-color: rgba(16, 25, 32, 1);
    --headeractive-text: rgba(143, 184, 195, 1);
    --headernonactive-text: rgba(73, 108, 117, 1);
    --headerbg: rgba(16, 25, 32, 1);
    --transition-duration: 0.5s;
    --scale: 1;
    --scale-hover: 1.1;
    --spacing-unit: 20px;
    --font-size-base: 20px;
    --font-size-heading: 30px;
    --font-weight-regular: 300;
    --font-weight-bold: 700;
    --font-family: 'Poppins-regular', sans-serif;
}

.active{
    color: var(--headeractive-text);
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-unit);
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--headernonactive-text);
    transition: color var(--transition-duration) ease, transform var(--transition-duration)ease;
    font-family: var(--font-family);
  }

nav ul li a:hover {
    color: var(--headeractive-text);
    transform: scale(var(--scale-hover));
}

header {
    display: flex;
    background-color: var(--headerbg);
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-unit);
    width: 100%;
}

body{
  place-items: center;
}

h2 {
    margin-top: var(--spacing-unit);
    margin-bottom: 10px;
    color: var(--primarytext-color);
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Centers the h1 horizontally */
    text-align: center; /* Centers the text */
    margin: 0 auto;
    color: var(--subtext-color);
    width: 600px;
    font-family: var(--font-family);
    font-size: 1.5em;
}

h1{
font-size: 3.2em;
margin-top: var(--spacing-unit);
    color: var(--primarytext-color);
    justify-content: center;
    flex-direction: column;
    align-items: center; /* Centers the h1 horizontally */
    text-align: center; /* Centers the text */
    margin: 0 auto;
    color: var(--subtext-color);
    width: 600px;
    font-family: var(--font-family);

}

.textcontainer{
  margin-top: 50px;
  margin-bottom: 30px;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(166, 183, 187, 1);
    color: rgba(16, 25, 32, 0.8);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: var(--font-family);
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .formcontainer {
    border-radius: 5px;
    background-color: rgba(46, 69, 87, 0.78);
    padding: 15px;
    width: 550px;
 display: inline-block;
 margin: auto;
  }

  form{
    background-color: rgba(46, 69, 87, 0.78);
  }

  label{
    background-color: rgba(46, 69, 87, 0.78);
    color: rgba(203, 226, 233, 1);
    font-family: var(--font-family);
  }