* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url(./Fonts/Poppins-Regular.ttf);
}


:root {
    --primarytext-color: rgb(114, 168, 190);
    --subtext-color: rgba(143, 184, 195, 1);
    --background-color: rgba(16, 25, 32, 1);
    --headeractive-text: rgba(238, 204, 109, 1);
    --headernonactive-text: rgba(73, 108, 117, 1);
    --headerbg: rgba(16, 25, 32, 1);
    --textnonactive: rgb(42, 134, 187);
    --projectstitle: rgb(82, 150, 189);
    --transition-duration: 0.5s;
    --scale: 1;
    --scale-hover: 1.1;
    --spacing-unit: 20px;
    --font-size-base: 20px;
    --font-size-heading: 30px;
    --font-weight-regular: 300;
    --font-weight-bold: 700;
    --font-family: 'Poppins-regular', sans-serif;
}

.active {
    color: var(--headeractive-text);
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-unit);
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--primarytext-color);
    transition: color var(--transition-duration) ease, transform var(--transition-duration)ease;
    font-family: var(--font-family);
}

nav ul li a:hover {
    color: var(--textnonactive);
    transform: scale(var(--scale-hover));
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-unit);
    width: 100%;
}

body {
    place-items: center;
}

h2 {
    margin-top: var(--spacing-unit);
    margin-bottom: 10px;
    color: var(--primarytext-color);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* Centers the h1 horizontally */
    text-align: center;
    /* Centers the text */
    margin: 0 auto;
    color: var(--subtext-color);
    width: 600px;
    font-family: var(--font-family);
    font-size: 1.5em;
}

h1 {
    font-size: 4em;
    margin-top: var(--spacing-unit);
    color: var(--primarytext-color);
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* Centers the h1 horizontally */
    text-align: center;
    /* Centers the text */
    margin: 0 auto;
    width: 600px;
    font-family: var(--font-family);

}

.textcontainer {
    margin-top: 40px;
    margin-bottom: 30px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(166, 183, 187, 1);
    color: rgba(16, 25, 32, 0.8);
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: var(--font-family);
}

input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.formcontainer {
    border-radius: 5px;
    background-color: rgba(46, 69, 87, 0.78);
    padding: 15px;
    width: 550px;
    display: inline-block;
    margin: auto;
}

label {
    background-color: rgba(46, 69, 87, 0.78);
    color: rgba(203, 226, 233, 1);
    font-family: var(--font-family);
}


.gradientcontainer {
    height: 130vh;
    width: 100vw;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 10px;
    z-index: -1;
    --background-color: rgba(16, 25, 32, 1);

}

.gradientcontainer div {
    --background-color: rgba(16, 25, 32, 1);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 20%;
    animation: gradient 3s infinite;
}

@keyframes gradient {
    50% {
        transform: scale(1.2) translate(50px);
    }
}

.gradientcontainer div:nth-child(1) {
    height: 90%;
    width: 80%;
    background-color: #020305;
    left: -29%;
    top: -10%;
    animation-delay: 1.5s;

}

.gradientcontainer div:nth-child(2) {
    height: 80%;
    width: 70%;
    background-color: #090d1f;
    left: -12%;
    top: 62%;
    animation-delay: 2s;
}

.gradientcontainer div:nth-child(3) {
    height: 65%;
    width: 80%;
    background-color: #02081a;
    left: -15%;
    top: -20%;
    animation-delay: 0.3s;
}

.gradientcontainer div:nth-child(4) {
    height: 40%;
    width: 75%;
    background-color: #090d1f;
    left: -10%;
    top: -12%;
    animation-delay: 1.2s;
}

.gradientcontainer div:nth-child(5) {
    height: 100%;
    width: 45%;
    background-color: #4a5685;
    left: 50%;
    right: 80%;
    top: -10%;
    animation-delay: 3.5s;
}

.gradientcontainer div:nth-child(6) {
    height: 90%;
    width: 90%;
    background-color: #09313d;
    left: 10%;
    top: 45%;
    animation-delay: 1s;
}

.gradientcontainer::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    backdrop-filter: blur(80px);
}

.gradientcontainer div:nth-child(7) {
    height: 60%;
    width: 55%;
    background-color: #090d1f;
    left: 50%;
    top: -10%;
    animation-delay: 0.5s;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.2em;
    }

    .formcontainer {
        width: 70%;
        padding: 10px;
        margin: auto;
        display: block;
    }

    nav ul {
        flex-direction: row;
        gap: 10px;
    }

    header {
        justify-content: center;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1em;
    }

    .formcontainer {
        width: 70%;
        padding: 10px;
    }

    input[type=text],
    textarea,
    input[type=submit] {
        font-size: 1em;
    }

    .gradientcontainer div {
        animation: none;
    }

    nav ul {
        flex-direction: row;
        padding: 0;
        text-align: center;
        font-size: 0.875em;
    }

    nav ul li {
        margin-bottom: 15px;
    }

    header {
        padding: 10px;
    }

    .textcontainer {
        padding: 10px;
    }

    .gradientcontainer {
        height: 160vh;
    }
}