*{
    background-color: rgba(16, 25, 32, 1);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins-regular';
    src: url(./Fonts/Poppins-Regular.ttf);
  }

:root{
    --primarytext-color: rgba(163, 211, 231, 1);
    --subtext-color: rgba(143, 184, 195, 1);
    --background-color: rgba(16, 25, 32, 1);
    --headeractive-text: rgba(143, 184, 195, 1);
    --headernonactive-text: rgba(73, 108, 117, 1);
    --headerbg: rgba(16, 25, 32, 1);
    --transition-duration: 0.5s;
    --scale: 1;
    --scale-hover: 1.1;
    --spacing-unit: 20px;
    --font-size-base: 20px;
    --font-size-heading: 30px;
    --font-weight-regular: 300;
    --font-weight-bold: 700;
    --font-family: 'Poppins-regular', sans-serif;
}

.active{
    color: var(--headeractive-text);
}

nav ul {
    list-style: none;
    display: flex;
    gap: var(--spacing-unit);
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    color: var(--headernonactive-text);
    transition: color var(--transition-duration) ease, transform var(--transition-duration)ease;
    font-family: var(--font-family);
}

nav ul li a:hover {
    color: var(--headeractive-text);
    transform: scale(var(--scale-hover));
}

header {
    display: flex;
    background-color: var(--headerbg);
    justify-content: flex-end;
    align-items: center;
    padding: var(--spacing-unit);
    width: 100%;
}

.textbox{
    display: grid;
    width: 800px;
    height: 500px;
    padding-top: 60px;
    margin: auto;
}

.texttop{
    font-size: 2em;
    color: rgba(58, 130, 189, 1);
    text-align: left;
    font-family: var(--font-family);
}

.textmiddle{
    font-size: 4em;
    color: var(--subtext-color);
    text-align: center;
    font-family: var(--font-family);
}

.textbottom{
    font-size: 2em;
    color: rgba(58, 130, 189, 1);
    text-align: right;
    font-family: var(--font-family);
}

.words{
    border: 0px solid whitesmoke;
    height: 50px;
    line-height: 50px;
    font-size: 45px;
    overflow: hidden; /*over stuff hidden*/
}

.words span {
    position: relative;
    color: var(--subtext-color);
    animation: animation 8s
    ease infinite;
}

@keyframes animation {
    0%,
    100%{
        top: 0;
    }
    40%{
        top: -50px;
    }
    70%{
        top: -100px;
    }
    100%{
        top: -100px;
    }
}